/* corps du site */

html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin : 0px;
    width: 100%;
}

header {
    background-color: #B71C1C;
    padding:30px;
}

button {
    background-color: transparent;
    border: 2px solid white;
    border-radius:4px;
    color: #FFF;
    margin:15px;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
}

button#load_faq {
    border: 2px solid black;
    color: #000;
}

button.black_btn {
    border: 2px solid black;
    color: #000;
}

button:hover {
    background-color: white;
    color: #000;
}

#button_action, #faq {
    width: 100%;
    text-align: center;
}

#faq dt {
    cursor: pointer;
}

#button_action li {
    list-style: none;
}

.persistent {
    background-color: rgba(127, 254, 114, 0.5);
}

.main_question {
    margin-top: 20px;
}

.main_answer {
    margin-bottom: 20px;
    min-height: 80px;
}

nav ul li a {
    text-decoration: none;
    margin : 0px 15px;
    font-weight: bold;
    font-size: 170%;
    color: #FFF;
}

nav ul li {
    list-style-type: none;
    display : inline;
}

footer {
    text-align: center;
    color : white;
    background-color: black;
    font-weight: bold;
    padding : 20px;
}

hr {
    margin: 50px 0px;
    width:70%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 10vw;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -25px;
}


/* Mise en forme générale */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex_component {
    min-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.left {
    text-align: right;
    margin-right: 10px;
    border-right:1px solid black;
    padding-right : 10px;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.right {
    text-align: left;
    margin-left: 10px;
}

.padd-top {
    padding-top: 30px;
}

.full {
    flex : 1;
}

.half {
    flex : 0.5;
}

.third {
    flex : 0.333;
}

.two-third {
    flex : 0.666;
}

.hide {
    display: none;
}

#request_result_insert {
    height: 50px;
}

#request_result_insert .success {
    padding: 20px;
    text-align: center;
    background-color : #81C784;
    color : white;
    font-weight: bold;
}

#request_result_insert .error, #request_result_update .error{
    padding: 20px;
    background-color : #F44336;
    color : black;
    font-weight: bold;
    
}

#delete_pers table {
     border: 1px solid black;
     padding: 15px;
     text-align: center;
     width: 100%
}

#delete_pers tr {
     border: 1px solid black;
     padding: 15px;
     text-align: center;    
     width: 100%;
}

#delete_pers th {
    width: 18%; 
    font-weight: bold;    
}

#delete_pers td {
    width: 18%;
     padding: 15px;
     text-align: center;    
}

#update_pers,
#delete_pers, 
#insert_pers {
    border : 2px solid black;
    border-radius: 2px;
    padding:20px;
}

/* FORM */ 

form label {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.form_input_text {
    font-family: 'Yanone Kaffeesatz', sans-serif;
	width : 300px;
	margin : 15px auto;
    height : 25px;
    font-size: 20px;
    border-radius: 5px;
    border : 2px solid black;
    display:inherit;
}

.form_textarea {
    font-family: 'Yanone Kaffeesatz', sans-serif;
	display:inherit;
	width : 300px;
	height: 150px;
	max-width: 80%;
	max-height: 500px;
	margin : 15px auto;
    font-size: 20px;
    border-radius: 5px;
    border : 2px solid black;
}

.elm_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* title */

#title-decoration {
    margin-top:10px;
    height:auto;
    width: 95%;
    max-width:750px;
}


.title-block {
    text-align: center;
    width:98%;
}


/* infos film */

.infos-film {
    width:98%;
    padding:15px;
    background-color: #EEEEEE ;
}

/* personnages */

#realisateur, #acteurs {
    width:98%;
    text-align: center;
}

.acteur {
    text-align: center;
    background-color: #E0E0E0;
    padding: 15px;
    margin:15px;
}

/* bouton "en savoir plus" */

.btn-more {
    padding:10px 20px;
    background-color: #B71C1C;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 15px;
}

/* FORM */

#form_film, #form_pers {
    padding: 50px 35px;
    margin : 30px;
    background-color: #EEEEEE;
    text-align: center;
}

/* Resonsive */

@media screen and (max-width: 675px) {
    .flex-component {
        text-align: center;
    }

    .left {
        text-align: center;
        margin-right: auto;
        border-right:none;
    }

    .right {
        text-align: center;
        margin-left: auto;
    }

    header,
    nav,
    nav ul,
    nav ul li,
    nav ul li a {
        width: 100%;
    }

    nav ul li a {
        padding:10px 100px;
    }


    nav ul li a:hover {
        background-color: #E57373;
    }

    nav ul li {
        margin: 10px 0px;
        display: block;
        text-align: center;
    }

    nav ul {
        padding-left: 0px;
        margin-left:0px;
    }

    header {
        padding:5px 0px;
    }
}
